<div class="span2">
  <ul class="nav nav-pills nav-stacked affix visible-desktop">
    <% if @quality %>
      <h2>Quality <%= @quality.to_i.to_s %></h2>
      <hr />
    <% end %>
    <% if @isbn13 %>
      <h2><%= @isbn13 %></h2>
      <hr />
    <% end %>
    <h3>Filters</h3>
    <% image_filters.each do |filter| %>
      <li class="<%= 'active' if is_current_filter(filter) %>" ><%= link_to(filter_label(filter), @quality ? quality_path(filter: filter) : cover_path(filter: filter)) %></li>
    <% end %>
  </ul>
</div>
<div class="hidden-desktop row">
  <div class="span12">
    <div class="dropdown hidden-desktop">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><%= filter_label(@filter, "No") %> filter applied <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <% image_filters.each do |filter| %>
              <li class="<%= 'disabled' if is_current_filter(filter) %>">
               <%= link_to(filter_label(filter), @quality ? quality_path(filter: filter) : cover_path(filter: filter), tabindex: "-1") %>
             </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>