<div class="row">
  <%= render "sidebar" %>
  <div class="span10">
    <div id="side-by-side" class="carousel slide">
      <ol class="carousel-indicators">
        <% (0..@files.length).each do |i| %>
          <li data-target="#side-by-side" data-slide-to="<%= i %>" class=""></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @files.each do |cover| %>
          <div class="item <%= 'active' if cover == @files.last %>">
              <div class="original">
                <%= render "cover", cover: @original %>
              </div>
              <div class="new-file">
                <%= render "cover", cover: cover %>
              </div>
            </div>
        <% end %>
      </div>
    <a class="left carousel-control" href="#side-by-side" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#side-by-side" data-slide="next">›</a>
  </div>
</div>